:root {
  --blue: 0 130 230;
  --white: 255 255 255;
  --pale-blue: 201 225 242;

  --font-family: "Indie Flower", serif;

  --rounded-full: calc(infinity * 1px);
}

* {
  color: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(var(--white));
  color: rgb(var(--blue));
  font-family: var(--font-family);
  font-weight: 400;
  font-style: normal;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 16px;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: inline-block;
  vertical-align: middle;
  object-fit: cover;
}

ul {
  list-style: none;
}

button {
  background: transparent;
  cursor: pointer;
  border: none;
}

button:focus-visible {
  outline: none;
}

input {
  background: transparent;
  display: flex;
  border: none;
}

input:focus-visible {
  outline: none;
}

input::placeholder {
  color: inherit;
}
